{% extends "Admin/Public/base.html" %}

{% block header %}
<link href="/Static/css/plugins/iCheck/custom.css" rel="stylesheet">
<!-- table  -->
<link href="/Static/css/plugins/footable/footable.core.css" rel="stylesheet">
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
<div id="page-wrapper" class="gray-bg" style="margin: 0px;">


    {% block login %}
    {% endblock %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a href="#">权限管理</a>
                </li>
                <li class="active">
                    <strong>角色管理</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>角色管理</h5>
                </div>
                <div class="ibox-content">
                    <form role="form" class="form-inline" style="display:inline-block;width:100%">
                        <div class="col-md-12" style="float:right">
                            <span style="float:left;line-height:30px;">筛选条件： </span>
                            <div class="col-md-4">
                                <input type="text" name="name" placeholder="请输入角色名称" id="" class="form-control" value="{{condition}}">
                            </div>
                            <div class="col-md-1 pull-right">
                                <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#myModal5"><i class="fa fa-plus-circle"></i> 添加角色
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 搜索  、筛选 -->
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for k,v in data %}
                        <tr class="{% if k%2 != 0 %} footable-odd {% endif %}">
                            <td>{{ v.id }}</td>
                            <td>{{ v.name }}</td>
                            <td> {% if v.status ==1 %} <span class="label label-primary">激活</span>{% else %} <span class="label label-danger">禁用</span> {% endif %} </td>
                            <td>{{ v.create_time}}</td>
                            <td class="text-right">
                                <a  class="btn btn-success btn-sm" href="/Admin/Role/setPermissions/{{v.id}}">
                                    <i class="fa fa-cog"></i>  设置权限
                                </a>
                                <!--<button type="button" class="btn btn-success btn-sm" onclick="return setPermissions({{v.id}});">-->
                                    <!--<i class="fa fa-cog"></i>  设置权限-->
                                <!--</button>-->
                                {% if v.status ==1 %}
                                <button type="button" class="btn btn-danger btn-sm" onclick="return updateStatus({{v.id}},{{v.status}});">
                                    <i class="fa fa-cog"></i>  禁用
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-sm" onclick="return updateStatus({{v.id}},{{v.status}});">
                                    <i class="fa fa-cog"></i>  激活
                                </button>
                                {% endif %}
                                <button type="button" class="btn btn-warning btn-sm" onclick="return getInfo({{v.id}});">
                                    <i class="fa fa-edit"></i>  编辑
                                </button>
                                <!--<button type="button" class="btn btn-danger btn-sm" onclick="return del({{v.id}});">-->
                                <!--<i class="fa fa-trash"></i>  删除-->
                                <!--</button>-->
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td style="text-align: center" colspan="8">暂无数据</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <!-- 分页 -->
                        <tfoot>
                        <tr>
                            <td colspan="6" style="padding-top:30px;">
                                {{ page | raw }}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!-- 添加角色框 -->
<div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md modal-lg" style="top:13%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">添加角色</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="m-t-md" name="user_add">
                    <div class="form-group" style="">
                        <label style="text-align: right">名称</label>
                        <div class="controls col-md-6" >
                            <input type="text" placeholder="请输入名称" name="name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group" style="">
                        <label style="text-align: right">状态</label>
                        <div class="controls col-md-6" >
                            <div class="i-checks">
                                <label style="padding-top: 5px;width: 100px;cursor: pointer;">
                                    <input type="radio" checked="" value="1" name="status"> <i></i> 激活
                                </label>
                            </div>
                            <div class="i-checks">
                                <label  style="padding-top: 5px;width: 100px;cursor: pointer;">
                                    <input type="radio"  value="2" name="status"> <i></i> 禁用
                                </label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="return add();">保存</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑角色框 -->
<div class="modal inmodal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md modal-lg" style="top:13%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">编辑角色</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="m-t-md" name="user_update">
                    <input type="hidden" name="id" >
                    <div class="form-group" style="">
                        <label style="text-align: right">名称</label>
                        <div class="controls col-md-6" >
                            <input type="text" placeholder="请输入名称" name="name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group" style="">
                        <label style="text-align: right">状态</label>
                        <div class="controls col-md-6" >
                            <div class="i-checks">
                                <label style="padding-top: 5px;width: 100px;cursor: pointer;">
                                    <input type="radio" value="1" name="status"> <i></i> 激活
                                </label>
                            </div>
                            <div class="i-checks">
                                <label  style="padding-top: 5px;width: 100px;cursor: pointer;">
                                    <input type="radio"  value="2" name="status"> <i></i> 禁用
                                </label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="return update();">保存</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block foot %}
<script src="/Static/js/plugins/iCheck/icheck.min.js"></script>

<script>

    $(document).ready(function () {

        // ****************** 初始化单选按钮 ******************
        $('.i-checks').iCheck({
            radioClass: 'iradio_square-green',
        });

    });


    // ****************** 添加角色 ******************
    function add() {
        var name = $("form[name='user_add']").find("input[name='name']").val();
        var status = $("form[name='user_add']").find("input[name='status']").val();
        console.log(name);
        if ($.trim(name) == '') {
            $().toastmessage('showErrorToast', '名称不能为空！');
            return false;
        }
        if ($.trim(status) == '') {
            $().toastmessage('showErrorToast', '请选择状态！');
            return false;
        }
        var data = $("form[name='user_add']").serialize();
        $.ajax({
            url: "/Admin/Role/add",
            type: "POST",
            dataType: 'json',
            data: data,
            success: function (re) {
                if (re.code === 0) {
                    $().toastmessage('showSuccessToast', "保存成功");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                } else if (re.code === 1) {
                    $.each(re.msg, function (i, n) {
                        $().toastmessage('showErrorToast', n);
                    });
                } else {
                    $().toastmessage('showErrorToast', re.msg);
                }
            },
            error: function () {
                alert('服务器休息了');
            }
        });
    }

    // ******************* 显示编辑信息 **************
    function getInfo(id) {
        $.ajax({
            url: "/Admin/Role/updateRole/" + id,
            type: "POST",
            dataType: 'json',
            success: function (re) {
                if (re.code === 0) {
                    if (re.data) {
                        $("#myModal1").find("input[name='id']").val(re.data.id);
                        $("#myModal1").find("input[name='name']").val(re.data.name);
                        if(re.data.status == 1){
                            $("#myModal1").find('input[name="status"]:eq(0)').iCheck('check');
                        }else{
                            $("#myModal1").find('input[name="status"]:eq(1)').iCheck('check');
                        }
                        $("#myModal1").modal();
                    }

                } else if (re.code === 1) {
                    $.each(re.msg, function (i, n) {
                        $().toastmessage('showErrorToast', n);
                    });
                } else {
                    $().toastmessage('showErrorToast', re.msg);
                }
            },
            error: function () {
                alert('服务器休息了');
            }
        });
    }

    // ****************** 编辑角色 ******************
    function update() {
        var name = $("form[name='user_update']").find("input[name='name']").val();
        var status = $("form[name='user_update']").find("input[name='status']").val();
        if ($.trim(name) == '') {
            $().toastmessage('showErrorToast', '账号不能为空！');
            return false;
        }

        if ($.trim(status) == '') {
            $().toastmessage('showErrorToast', '请选择状态！');
            return false;
        }
        var data = $("form[name='user_update']").serialize();
        $.ajax({
            url: "/Admin/Role/update",
            type: "POST",
            dataType: 'json',
            data: data,
            success: function (re) {
                if (re.code === 0) {
                    $().toastmessage('showSuccessToast', "保存成功");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                } else if (re.code === 1) {
                    $.each(re.msg, function (i, n) {
                        $().toastmessage('showErrorToast', n);
                    });
                } else {
                    $().toastmessage('showErrorToast', re.msg);
                }
            },
            error: function () {
                alert('服务器休息了');
            }
        });
    }

    // ******************** 激活、禁用 角色 ****************
    function updateStatus(id,status) {
        $.ajax({
            url: "/Admin/Role/changeStatus/" + id + '/' + status,
            type: "POST",
            dataType: 'json',
            success: function (re) {
                if (re.code === 0) {
                    $().toastmessage('showSuccessToast', "操作成功");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                } else if (re.code === 1) {
                    $.each(re.msg, function (i, n) {
                        $().toastmessage('showErrorToast', n);
                    });
                } else {
                    $().toastmessage('showErrorToast', re.msg);
                }
            },
            error: function () {
                alert('服务器休息了');
            }
        });

    }

    // *********************** 设置权限 ************************
    
//    function setPermissions(id) {
//
//        $.ajax({
//            url: "/Admin/Role/setPermissions/" + id ,
//            type: "POST",
//            dataType: 'json',
//            success: function (re) {
//                if (re.code === 0) {
//                    $().toastmessage('showSuccessToast', "操作成功");
//                    setTimeout(function () {
//                        window.location.reload();
//                    }, 2000);
//                } else if (re.code === 1) {
//                    $.each(re.msg, function (i, n) {
//                        $().toastmessage('showErrorToast', n);
//                    });
//                } else {
//                    $().toastmessage('showErrorToast', re.msg);
//                }
//            },
//            error: function () {
//                alert('服务器休息了');
//            }
//        });
//    }
</script>
{% endblock %}






