{% extends "Admin/Public/base.html" %}

{% block header %}
<link href="/Static/css/plugins/iCheck/custom.css" rel="stylesheet">
<!-- table  -->
<link href="/Static/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/Static/css/plugins/treeview/bootstrap.treeview.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="#">权限管理</a>
            </li>
            <li>
                <a href="/Admin/Role/getRole">角色管理</a>
            </li>
            <li class="active">
                <strong>权限设置</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>权限节点</h5>
                </div>
                <!-- 节点列表 -->
                <div class="ibox-content">
                    <div id="tree"></div>
                    <button type="button" class="btn btn-primary btn-sm" onclick="return updateStatus({{v.id}},{{v.status}});">
                    <i class="fa fa-check"></i>  保存
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" onclick="return getInfo({{v.id}});">
                    <i class="fa fa-mail-reply (alias)"></i>  返回
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block foot %}
<script src="/Static/js/plugins/iCheck/icheck.min.js"></script>
<script src="/Static/js/plugins/treeview/bootstrap.treeview.js"></script>

<script>

    $(document).ready(function () {

        // ****************** 初始化单选按钮 ******************
        $('.i-checks').iCheck({
            radioClass: 'iradio_square-green',
        });
//
//        fa-square-o
        var tree = [
            {
                text: "Parent 1",
                nodes: [
                    {
                        text: "Child 1",
                        nodes: [
                            {
                                text: "Grandchild 1"
                            },
                            {
                                text: "Grandchild 2"
                            }
                        ]
                    },
                    {
                        text: "Child 2"
                    }
                ]
            },
            {
                text: "Parent 2"
            },
            {
                text: "Parent 3"
            },
            {
                text: "Parent 4"
            },
            {
                text: "Parent 5"
            }
        ];
        $('#tree').treeview({
//            expandIcon: 'glyphicon glyphicon-chevron-right',
            collapseIcon: 'fa fa-square-o',
            icon: 'fa fa-check-square-o',
//            nodeIcon: 'fa fa-check-square-o',
            data: tree,         // data is not optional
            levels: 5,
            backColor: 'white'
        });

    });


    // ****************** 添加角色 ******************
    function add() {
        var name = $("form[name='user_add']").find("input[name='name']").val();
        var status = $("form[name='user_add']").find("input[name='status']").val();
        console.log(name);
        if ($.trim(name) == '') {
            $().toastmessage('showErrorToast', '名称不能为空！');
            return false;
        }
        if ($.trim(status) == '') {
            $().toastmessage('showErrorToast', '请选择状态！');
            return false;
        }
        var data = $("form[name='user_add']").serialize();
        $.ajax({
            url: "/Admin/Role/add",
            type: "POST",
            dataType: 'json',
            data: data,
            success: function (re) {
                if (re.code === 0) {
                    $().toastmessage('showSuccessToast', "保存成功");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                } else if (re.code === 1) {
                    $.each(re.msg, function (i, n) {
                        $().toastmessage('showErrorToast', n);
                    });
                } else {
                    $().toastmessage('showErrorToast', re.msg);
                }
            },
            error: function () {
                alert('服务器休息了');
            }
        });
    }

    // ******************* 显示编辑信息 **************
    function getInfo(id) {
        $.ajax({
            url: "/Admin/Role/updateRole/" + id,
            type: "POST",
            dataType: 'json',
            success: function (re) {
                if (re.code === 0) {
                    if (re.data) {
                        $("#myModal1").find("input[name='id']").val(re.data.id);
                        $("#myModal1").find("input[name='name']").val(re.data.name);
                        if(re.data.status == 1){
                            $("#myModal1").find('input[name="status"]:eq(0)').iCheck('check');
                        }else{
                            $("#myModal1").find('input[name="status"]:eq(1)').iCheck('check');
                        }
                        $("#myModal1").modal();
                    }

                } else if (re.code === 1) {
                    $.each(re.msg, function (i, n) {
                        $().toastmessage('showErrorToast', n);
                    });
                } else {
                    $().toastmessage('showErrorToast', re.msg);
                }
            },
            error: function () {
                alert('服务器休息了');
            }
        });
    }

    // ****************** 编辑角色 ******************
    function update() {
        var name = $("form[name='user_update']").find("input[name='name']").val();
        var status = $("form[name='user_update']").find("input[name='status']").val();
        if ($.trim(name) == '') {
            $().toastmessage('showErrorToast', '账号不能为空！');
            return false;
        }

        if ($.trim(status) == '') {
            $().toastmessage('showErrorToast', '请选择状态！');
            return false;
        }
        var data = $("form[name='user_update']").serialize();
        $.ajax({
            url: "/Admin/Role/update",
            type: "POST",
            dataType: 'json',
            data: data,
            success: function (re) {
                if (re.code === 0) {
                    $().toastmessage('showSuccessToast', "保存成功");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                } else if (re.code === 1) {
                    $.each(re.msg, function (i, n) {
                        $().toastmessage('showErrorToast', n);
                    });
                } else {
                    $().toastmessage('showErrorToast', re.msg);
                }
            },
            error: function () {
                alert('服务器休息了');
            }
        });
    }

    // ******************** 激活、禁用 角色 ****************
    function updateStatus(id,status) {
        $.ajax({
            url: "/Admin/Role/changeStatus/" + id + '/' + status,
            type: "POST",
            dataType: 'json',
            success: function (re) {
                if (re.code === 0) {
                    $().toastmessage('showSuccessToast', "操作成功");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                } else if (re.code === 1) {
                    $.each(re.msg, function (i, n) {
                        $().toastmessage('showErrorToast', n);
                    });
                } else {
                    $().toastmessage('showErrorToast', re.msg);
                }
            },
            error: function () {
                alert('服务器休息了');
            }
        });

    }

    // *********************** 设置权限 ************************

    //    function setPermissions(id) {
    //
    //        $.ajax({
    //            url: "/Admin/Role/setPermissions/" + id ,
    //            type: "POST",
    //            dataType: 'json',
    //            success: function (re) {
    //                if (re.code === 0) {
    //                    $().toastmessage('showSuccessToast', "操作成功");
    //                    setTimeout(function () {
    //                        window.location.reload();
    //                    }, 2000);
    //                } else if (re.code === 1) {
    //                    $.each(re.msg, function (i, n) {
    //                        $().toastmessage('showErrorToast', n);
    //                    });
    //                } else {
    //                    $().toastmessage('showErrorToast', re.msg);
    //                }
    //            },
    //            error: function () {
    //                alert('服务器休息了');
    //            }
    //        });
    //    }
</script>
{% endblock %}






