{% extends "Admin/Public/base.html" %}

{% block header %}
<link href="/Static/css/plugins/iCheck/custom.css" rel="stylesheet">
<!-- table  -->
<link href="/Static/css/plugins/footable/footable.core.css" rel="stylesheet">
<!--<link href="/Static/css/plugins/treeview/bootstrap.treeview.css" rel="stylesheet">-->
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="#">权限管理</a>
            </li>
            <li>
                <a href="/Admin/Role/getRole">角色管理</a>
            </li>
            <li class="active">
                <strong>权限设置</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>权限节点</h5>
                </div>
                <!-- 节点列表 -->
                <div class="ibox-content">

                    <table class="table table-bordered table-striped with-check" style="margin-bottom:50px;">
                        <ul style="list-style:none;">
                            {% for k,v in permissions %}
                            <li style="margin-left:30px;width:100%;height:auto" class="dlbox">
                                <input type="checkbox" class="i-checks checkall" style="cursor: pointer;" {% if
                                       v.checked==1 %} checked="" {% endif %} name="parentNode" value="{{v.id}}"><strong>{{v.name}}</strong>
                                <ul style="list-style:none;width:100%;float:left;margin:10px 0px 10px 30px;"
                                    class="subul">
                                    {% for kk,vv in v.children %}
                                    <li style="float:left;margin-right:40px;width:200px;">
                                        <input type="checkbox" class="i-checks subcheck" style="cursor: pointer;" {% if
                                               vv.checked==1 %} checked="" {% endif %} name="node" value="{{vv.id}}">{{v.name}}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </table>
                    <button type="button" class="btn btn-primary btn-sm"
                            onclick="return setPermissions({{id}});">
                        <i class="fa fa-check"></i> 保存
                    </button>
                    <a type="button" class="btn btn-warning btn-sm" href="/Admin/Role/getRole">
                        <i class="fa fa-mail-reply"></i> 取消并返回
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block foot %}
<script src="/Static/js/plugins/iCheck/icheck.min.js"></script>
<script src="/Static/js/plugins/treeview/bootstrap.treeview.js"></script>

<script>

    $(document).ready(function () {

        // ****************** 初始化单选按钮 ******************
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
        });
        $(".icheckbox_square-green").css({
            'margin-right': 9 + 'px'
        })

        // 全选
        $('input.checkall').on('ifChecked', function (event) { //ifCreated 事件应该在插件初始化之前绑定
            $(this).parent('div').parent('li').find('input.subcheck').iCheck('check');
        });
        // 反选
        $('input.checkall').on('ifUnchecked', function (event) {
            $(this).parent('div').parent('li').find('input.subcheck').iCheck('uncheck');

        });
    });

    // **************** 设置权限 ******************
    function setPermissions(id) {
        // 获取选中的菜单值
        var menu = [];
        // 接口及页码权限节点
        var node = [];
        $('input.checkall:checked').each(function () {
            menu.push(parseInt($(this).val()));
        });

        $('input.subcheck:checked').each(function () {
            node.push(parseInt($(this).val()));
        });
        menu = JSON.stringify(menu);
        node = JSON.stringify(node);
        $.ajax({
            url: "/Admin/Role/set/" + id,
            type: "POST",
            dataType: 'json',
            data:{'menu':menu,'node':node},
            success: function (re) {
                if (re.code === 0) {
                    $().toastmessage('showSuccessToast', "操作成功！");
                    setTimeout(function () {
                        window.location.href = '/Admin/Role/getRole';
                    }, 2000);

                } else if (re.code === 1) {
                    $.each(re.msg, function (i, n) {
                        $().toastmessage('showErrorToast', n);
                    });
                } else {
                    $().toastmessage('showErrorToast', re.msg);
                }
            },
            error: function () {
                alert('服务器休息了');
            }
        });
    }
</script>
{% endblock %}






