{% extends "Install/Install/public.html" %}


{% block percent %}
<div class="progress-bar progress-bar-striped progress-bar-danger active" style="width: 60%;">
    60%
</div>
{% endblock %}


{% block content %}
<form class="form-horizontal" method="post">
<div class="panel panel-default">
    <div class="panel-heading">
        数据库配置
    </div>
    <div class="panel-body" style="padding: 10px;">

        <div class="form-group">
            <label class="col-sm-2 control-label">主机</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="host" value="127.0.0.1" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">数据库</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="database" required="required">
                <span class="help-block">数据库不存在时系统将尝试创建,但帐号没有权限时创建将失败</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="user" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密码</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" name="password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">表前缀</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="prefix" value="yp_" required="required" placeholder="表前缀只能为字母或下划线">
            </div>
        </div>

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        系统帐号
    </div>
    <div class="panel-body" style="padding: 10px;">

        <div class="form-group">
            <label class="col-sm-2 control-label">帐号</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="username" value="admin" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密码</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" name="upassword" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" name="upassword2" required="required">
            </div>
        </div>
    </div>
</div>

<a href="javascript:history.back()" class="btn btn-success">返回</a>
<a href="javascript:;" class="btn btn-primary" onclick="post()">继续</a>
</form>

{% endblock %}

{% block foot %}
<script>
    function post() {
        var msg = '';
        if (!/^[a-z_]+$/i.test($.trim($("[name='prefix']").val()))) {
            msg = '表前缀只能为字母或下划线';
        }
        if ($.trim($("[name='upassword']").val()) != $.trim($("[name='upassword2']").val())) {
            msg = '系统管理员的两次密码不一致';
        }
        $("[name]").each(function () {
            if ($(this).attr('name') != 'password' && $.trim($(this).val()) == '') {
                msg = $(this).parent().prev().text() + "不能为空";
            }
        });

        if (msg) {
            alert(msg);
            return false;
        }
        $.post('?a=database', $('form').serialize(), function (res) {
            if (res.valid == 1) {
                location.href = '?a=finish';
            } else {
                alert(res.message);
            }
        }, 'json');
    }
</script>
{% endblock %}