{% extends "Install/Install/public.html" %}


{% block percent %}
<div class="progress-bar progress-bar-striped progress-bar-danger active" style="width: 40%;">
    40%
</div>
{% endblock %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        服务器信息
    </div>
    <div class="panel-body" style="padding: 10px;">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>参数</th>
                <th>值</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>操作系统</td>
                <td>{{env.PHP_OS}}</td>
            </tr>
            <tr>
                <td>服务器环境</td>
                <td>{{env.SERVER_SOFTWARE}}</td>
            </tr>
            <tr>
                <td>PHP版本</td>
                <td>
                    {{env.PHP_VERSION}}
                </td>
            </tr>
            <tr>
                <td>上传限制</td>
                <td>
                    {{env.upload_max_filesize}}
                </td>
            </tr>
            <tr>
                <td>最大执行时间</td>
                <td>
                    {{env.max_execution_time}}
                </td>
            </tr>
            <tr>
                <td>脚本运行最大内存</td>
                <td>
                    {{env.memory_limit}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="alert alert-info">
    必须满足以下环境要求才可以运行YPAMS产品.
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        YPAMS 环境要求
    </div>
    <div class="panel-body" style="padding: 10px;">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>参数</th>
                <th>说明</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>PHP版本</td>
                <td>要求PHP版本大于5.4</td>
                <td>{{env.h_PHP_VERSION}}</td>
            </tr>
            <tr>
                <td>Mysql</td>
                <td>必须支持Mysql数据库</td>
                <td>{{env.h_mysql | raw}}</td>
            </tr>
            <tr>
                <td>Pdo</td>
                <td>不支持将不能操作数据库</td>
                <td>{{env.h_Pdo | raw}}</td>
            </tr>
            <tr>
                <td>GD图像库</td>
                <td>不支持将无法处理图像</td>
                <td>{{env.h_Gd | raw}}</td>
            </tr>
            <tr>
                <td>CURL</td>
                <td>微信等远程接口将需要CURL模块</td>
                <td>{{env.h_curl | raw}}</td>
            </tr>
            <tr>
                <td>openSSL</td>
                <td>需要支持</td>
                <td>{{env.h_openSSL | raw}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="alert alert-info">
    检测安装YPAMS目录的可写权限
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        目录权限检测
    </div>
    <div class="panel-body" style="padding: 10px;">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>目录</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>./</td>
                <td>{{env.d_root | raw}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<a href="javascript:history.back()" class="btn btn-success">返回</a>
<a href="javascript:;" onclick="database();" class="btn btn-primary">继续</a>

{% endblock %}

{% block foot %}
<script>
    function database() {
        // if ($(".fa-times-circle").length > 0) {
        //     alert('当前环境不可以安装YPAMS');
        // } else {
            location.href = '?a=database';
        // }
    }
</script>
{% endblock %}